@use "../utils/variables";



header {
    font-family: "shrikhand", cursive;
    font-size: larger;
    display: flex;
    z-index: 2;
    position: relative;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 2px variables.$neutral;
    .home{
      font-size: 1.5rem;
      padding: 0px;
      margin-right: 50px;
      :hover{transform: translateX(-10px);
        transition: 800ms;
      }
    }
  }
  