.ville {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #f3f3f3;
  }
  .infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fafafa;
    padding-bottom: 20px;
  }