@import "./sass/base";
@import "./sass/layout/header";
@import "./sass/layout/index-main";
@import "./sass/components/buttons";
@import "./sass/layout/footer";







//*section restos*//

section {
  background-color: #f3f3f3;
  padding-top: 35px;
  padding: 20px;

  @media (min-width:768px){
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding-top: 35px;

    justify-content: space-evenly;
    gap: 1rem;
    
  }

}

.restos__card{
  display: grid;
  grid-template-columns: 1fr ;
background-color: #ffff;
min-height: 20%;
gap: 1rem;
margin-top: 20px;
border-radius: 20px;
padding: 0px;
@media (min-width:768px){
  width: 20%;
}
}
.restos__card--infos{
 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
}
.restos__card--infos h3, p{
  margin: 5px;
}
.restos img {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 0px;
  @media (min-width:768px){
    width: 100%;
  }
}

