@use "./sass/base";
@use "./sass/components/buttons";
@use "./sass/utils/mixins";
@use "./sass/utils/variables";
@use "./sass/layout/header";
@use "./sass/layout/footer";
@use "./sass/pages/menus";







//*section restos*//






//*pages menus*//
.photo__resto{
  text-align: center;
}
.photo__resto img{
max-width:100% ;
max-height: 25%;
margin: 0;
padding: 0;
@media (min-width:768px){
  max-width: 85vw;
  position: relative;
}
}
