@use "../utils/variables";




header.menu__header{
background-color: #f3f3f3;
box-shadow: none;
padding: 20px 0 0 20px;
border-radius: 35px 35px 0 0;
}
 section.menu{
padding: 0;
margin: 0;
}

 .bloc-menu{
     
    display:grid;
    place-items: center;
    h1{
      padding-left: 0px;
    }
    & h3{
        margin: 0;
        padding: 0;
    }
    & h2{
        font-weight:400;
        padding: 15px  0px 0px;
          font-size: 1.2rem;
          
    }
    & p{
        font-weight: lighter;
        margin: 0;
        padding: 0 5px 0;
    }
    ul{
        width: 90%;
        margin: 0px;
        padding: 0px;
        gap: 1rem;
        @media (min-width:variables.$breakpoint){
            padding: 10px;
        }
      
    }
    @media (min-width:variables.$breakpoint){
    grid-template-columns: repeat(3, 3fr);
    width: 99%;
}
  }

.food{
    display: grid;
    width: 100%;

}
  .food li{
      margin: 10px 20px 20px ;
      padding: 0px 10px 0px ;
      width: 90%;
      height: 4rem;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      list-style-type: none;
      background-color: white;
      border-radius: 15px;
      flex-grow: 1;
      line-height: 16px;
      font-size: 0.8rem;
      
  }

  .food h4{
      margin-left: 20px;
      width: 30px;
      text-transform:uppercase;
      font-weight: lighter;
      border-bottom:solid 2px lightgreen ;
      
  }
  .food__infos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    
    &--price{
        width: fit-content;
        margin-left: auto;
        margin-top: 2.2rem;
        padding: 0;
        

    }
    &--check{
      
        transform: translateX(30px);
        display: grid;
        margin: 0;
        place-items: center;
        width: 18%;
        background-color: aqua;
        height: 5rem;
        border-radius: 0 15px 15px 0;
        &:hover{
          
        transform: translateX(0px);
        transition: 800ms;
        }
    }


  }

  