
//loading-spinner//

@keyframes spinner1 {
    0%, 20% {
       transform: rotate(0);
    }
 
    100% {
       transform: rotate(360deg);
    }
 }
 
 @keyframes spinner2 {
    50% {
       transform: rotate(var(--s,90deg));
    }
 
    100% {
       transform: rotate(0);
    }
 }

 //--Check-item--//

@keyframes reverse-spin {
    from {
        transform:rotate(-270deg);
    }
    to {
        transform:rotate(0deg);
    }
}


//fadein card-menu//

@keyframes fadein-card {
    
    from {
        opacity:0;
        transform: translateY(30px);
        
    }
    to {
        opacity:1;
        transform: translateY(0px);
    }
    
    }

